* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: #fff;
	color: #000;

}
	
body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
	flex-direction: column;
	margin: 0;
}

body, .header, .logo, .links, .top, .top-left, .top-right, .middle, .middle-header, .middle-container, .middle-box1, .middle-box2, .middle-box3, .form-container, .footer {
	display: flex;
	font-family: "Trebuchet MS", sans-serif;
}


.header, .top {
	background: #bbbbbb;
	padding: 24px;
	gap: 24px;
}

@media (max-width: 600px) {
  .header, .top, .middle-container, .form-container {
    flex-direction: column;
    gap: 12px;
  }
}

.middle, .form-container {
	padding: 24px;

}


.links {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	gap: 12px;
	align-items: center;
}

.top-link {
	justify-content: space-between;
}

a {
	text-decoration: none;
}

.top-left {
	flex: display;
}

.top1 {
	flex: display;
	flex: 1;
	flex-direction: column;
}

.top2 {
	flex: display;
}

.top-right {
	display: flex;
	flex: 1;
  height: 100%;
	justify-content: flex-end;
}

.middle {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.middle-container {
		gap: 24px;
}

.middle-box1, .middle-box2, .middle-box3 {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1;
}

.box1, .box2, .box3 {
	border: blue solid 4px;
	border-color: blue;
	border-radius: 24px;
	padding: 0px;
}

.box1-text, .box3-text, .box2-text {
	text-align: center;
}

.form-container{
	border-radius: 25px;
  background: #73AD21;
  margin: 30px;
}

button {
	border-radius: 12px;
}

.info {
	font-size: 24px;
	padding: 24px;
	border-color: white;
	background: #cccccc;
	border-style: solid;
}

.join {
	font-size: 24px;
	padding: 24px;
	border-color: white;
	background: #cccccc;
	border-style: solid;
}

.form-right {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.footer {
	background: #cccccc;
	justify-content: center;
}
