* { 
	box-sizing: border-box;
}
@font-face {
	font-family: "Quasimoda";
	src: url("quasimoda.ttf") format("truetype")
  }

html, body {
	min-height: 100%;
	background: #fff;
	color: #000;

}
	
body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
	flex-direction: column;
	margin: 0;
	font-family: "Quasimoda", sans-serif;
}

@media (max-width: 960px) {
  .top, .nav, .footer {
    flex-direction: column;
    gap: 12px;
  }
}

.link a {
	text-decoration: none;
	color: white;
}

.top-right a {
text-decoration: none;
	color: gray;
}

.top, .top-left, .top-middle, .top-right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.top {
	justify-content: space-between;
	padding: 24px;
}

.nav, .about {
	display: flex;
	background: #cc5533;
	justify-content: space-around;
	
}

.link {
	padding: 12px;
	font-size: 24px;
	text-align: center;
}

.middle {
  background-image: url("background.png");

}

.middle-box, .about {
	padding: 60px;
}

.about {
flex-direction: column;
}

.box {
	display: flex;
	flex-direction: column;
text-align: center;
	flex: 1;
}

.footer {
	display: flex;
	justify-content: space-around;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }

  .fa-facebook {
	background: #3B5998;
	color: white;
  }

  .fa-google {
	background: #dd4b39;
	color: white;
  }

  
.fa-instagram {
	background: #125688;
	color: white;
  }

  iframe {
    display: block;
    border-style:none;
}

.box p {
	display: flex;
	justify-content: center;
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

table {
    border-collapse: collapse;
	font-size: 16px;
}

.welson, .eyecare {
	padding: 24px;
}